Repository DanielFGray/node-pg-template: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# docs: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
output:
  - summary
  - success
  - failure
  - execution

commit-msg:
  only:
    - ref: develop
    - ref: main
  commands:
    'lint commit message':
      interactive: true
      run: npx commitlint --edit {1}

pre-commit:
  only:
    - ref: develop
    - ref: main
  commands:
    prettier:
      glob: '*.{js,mjs,cjs,ts,tsx,json,css,html}'
      run: npm run lint:prettier {staged_files}
    eslint:
      glob: '*.{js,mjs,cjs,ts,tsx}'
      run: npm run lint:eslint --quiet {staged_files}

pre-push:
  only:
    - ref: develop
    - ref: main
  commands:
    prettier:
      files: git diff --name-only HEAD @{push}
      glob: '*.{js,mjs,cjs,ts,tsx,json,css,html}'
      run: npm run lint:prettier {files}
    eslint:
      files: git diff --name-only HEAD @{push}
      glob: '*.{js,mjs,cjs,ts,tsx}'
      run: npm run lint:eslint --quiet {files}

docs: update readme
  README.md
Due: none

chore: use node:http directly and forward to express this should make it easier to upgrade websocket requests later
  server/index.ts
Due: prettier, eslint

chore: move ui routes into their own folder
  src/App.tsx
  src/routes/forgot.tsx
  src/routes/home.tsx
  src/routes/login.tsx
  src/routes/logout.tsx
  src/routes/register.tsx
  src/routes/reset.tsx
  src/routes/settings.tsx
  src/routes/verify.tsx
Due: prettier, eslint

fix: server reports correct port
  server/index.ts
Due: prettier, eslint

ci: run the kitchen sink
  .github/workflows/ci.yml
Due: none

chore: quiet nodemon in dev
  package.json
Due: prettier

refactor: installOauthProvider helper
  server/app.ts
Due: prettier, eslint

docs: update README
  README.md
Due: none

refactor: use named export for logger
  server/app.ts
  server/cypress.ts
  server/db.ts
  server/index.ts
  server/log.ts
Due: prettier, eslint

fix: make tests pass
  server/auth.test.ts
  src/Auth.ctx.tsx
  src/api.ts
  src/routes/forgot.tsx
  src/routes/home.tsx
  src/routes/login.tsx
  src/routes/register.tsx
  src/routes/reset.tsx
  src/routes/settings.tsx
  src/routes/verify.tsx
Due: prettier, eslint

feat: add Form and Form.Row helpers
  cypress/e2e/account_deletion.cy.ts
  cypress/e2e/change_password.cy.ts
  cypress/e2e/login.cy.ts
  cypress/e2e/manage_emails.cy.ts
  cypress/e2e/post_creation.cy.ts
  cypress/e2e/register_account.cy.ts
  cypress/e2e/reset_password.cy.ts
  cypress/e2e/subscriptions.cy.ts
  src/components.tsx
  src/routes/forgot.tsx
  src/routes/home.tsx
  src/routes/login.tsx
  src/routes/register.tsx
  src/routes/reset.tsx
  src/routes/settings.tsx
  src/routes/verify.tsx
  src/styles.css
Due: prettier, eslint

feat: use mprocs to run dev scripts
  package.json
Due: prettier
